body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.img-container {
    height: 100vh;
    width: 33%;
    background: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-shrink: 1;
}
@font-face {
    font-family: permanent-maker;
    src: url(./assets/font/PermanentMarker-Regular.ttf);
}

#logo-section {
    margin-top: 20%;
    color: white;
    font-family: permanent-maker;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 16, 16, 0.5);
}

#image-source {
    font-size: 0.7rem;
    text-align: center;
}

#image-source a {
    color: black;
}

.content {
    background-color: white;
    height: 100vh;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-shrink: 1;
}

a {
    color: rgb(199, 151, 54);
    text-decoration: none;
}

#form-inputs {
    background-color: rgb(255, 249, 223);
    margin: 12px 0px;
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 1px 1px 5px black;
}

.form-input {
    margin: 12px 8px;
}

input {
    width: 400px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid lightgray;
}


#description {
    width: 600px;
}

 
.content p {
    margin-left: 40px;
}

form button {
    margin: 20px 0px 0px 40px;
    color: white;
    background-color: rgb(199, 151, 54);
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    font-size: 1.3rem;
}